version: '3'
services:
  mongo:
    image: mongo
    container_name: contenedor-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - mongo

volumes:
  mongo_data: